<div class = "background-workout">
<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-blue">
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<div class="container">
   <img src = "https://res.cloudinary.com/hamzakazi/image/upload/v1662475252/Screenshot_2022-09-05_at_14.42.14-removebg-preview_dayrpd.png" class = "logo" alt = "Test Image" />
   <img src = "https://res.cloudinary.com/hamzakazi/image/upload/v1662636293/pnghut_line-sound-frequency-loudness-heart-rate-orange_ffd5ol.png" class = "heart" alt = "" />
   <img src= "https://res.cloudinary.com/hamzakazi/image/upload/v1662475244/fitness_PNG212_q0q6vy.png" class = "lady" alt= "" />
  <div class="d-flex align-items-center justify-content-between mb-3">

<button class="button-28" role="button">My workouts</button>

  </div>
  <button type="button" class="log-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Log workout
  </button>
</div>
<div class="card-x">
  <div class="row">
    <% @workouts.each do |workout| %>
        <div class="card-workout col-3 m-2" style="width: 18rem;">
          <%= link_to  workout_path(workout) do %>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title"><strong><%= workout.name %></strong></h5>
            </div>
              <% end %>
              <button type="button" class="btn btn-warning" style= "width: 100px; height: 50px; padding: 1px;" data-bs-toggle="modal" data-bs-target="#exampleModal<%= workout.id %>">
                Add exercise
              </button>
              <%= link_to workout_path(workout), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this workout log?" } do %>
                <%= image_tag "bin_delete.png", style: "width: 20px; height: 20px" %>
                <% end %>
          </div>
        </div>
        <div class="modal fade" id="exampleModal<%= workout.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add exercise details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= render "exercises/new", exercise: @exercise, workout: workout %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>





<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Enter details of your workout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "new" %>
      </div>
    </div>
  </div>
</div>

</div>


      <%# <%= link_to "Details", workout_path(workout) %>
<%# <% @workouts.each do |workout| %>
<%# <%= link_to workout.id, workout_path(workout) %>
<%# <% end %>
