
<h1 class=""><%= @workout.name %></h1>

<span class="text-decoration-line-through"></span>
<span>Date: <%=@workout.date.strftime('%d/%m/%Y')%></span>
    <% @exercises.each do |exercise| %>
    <p class="lead"><em>Name:</em>    <%=exercise.name%></p>
      <p class="lead"><em>Sets:</em>    <%=exercise.set%></p>
      <p class="lead"><em>Reps:</em>    <%=exercise.rep%></p>
      <p class="lead"><em>Weight:</em>    <%=exercise.weight%></p>
    <% end %>
