<div class = "background-workout">
<div class="container">

   <img src = "https://res.cloudinary.com/hamzakazi/image/upload/v1662475252/Screenshot_2022-09-05_at_14.42.14-removebg-preview_dayrpd.png" class = "logo" alt = "Test Image" />
       <img src = "https://res.cloudinary.com/hamzakazi/image/upload/v1663154017/orange-juice-flavor-stock-photography-orange-juice-ead4877300f954797dc9c85069955a01_dera4f.png" class = "orange-splash" alt = "" />
    <img src = "https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fres.cloudinary.com%2Fhamzakazi%2Fimage%2Fupload%2Fv1663156033%2FNicePng_juice-splash-png_853594_qyds2y.png" class = "second-splash" alt = "" />
</div>
</div>
</div>


<div class="button-28-food" >My Food Log</div>

  </div>
  <button type="button" class="log-btn-food" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Add Meal
  </button>
</div>
<div class="card-x">
  <div class="row-food">
    <% @foods.each do |food| %>
        <div class="card-workout col-3 m-2" style="width: 18rem;">
          <%= link_to  food_path(food) do %>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title-food"><strong><%= food.name %></strong></h5>
            </div>
              <p class="card-title-date"><%=food.date.strftime('%d/%m/%Y')%></p>
              <% end %>
              <button type="button" class="btn btn-warning" style= "width: 100px; height: 50px; padding: 1px;" data-bs-toggle="modal" data-bs-target="#exampleModal<%= food.id %>">
                Add Food
              </button>
              <%= link_to food_path(food), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this meal log?" } do %>
                <%= image_tag "bin_delete.png", style: "width: 20px; height: 20px; position:relative; left:70px; bottom:70px;" %>
                <% end %>
          </div>
        </div>
        <div class="modal fade" id="exampleModal<%= food.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Food</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= render "meal", exercise: @meal, food: food %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>





<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Log your food</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "new" %>
      </div>
    </div>
  </div>
</div>

</div>
