<% @gyms.each do |gym| %>
<div class="cards-all">
  <a href="" class="card-gym">
    <%=cl_image_tag gym.image.key, class: "card__image" %>
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
          <div class="card__header-text">


            <h3 class="card__title"> <%= gym.name %></h3>
            <span class="card__status"><%= gym.rating%></span>
            <span class="card__status"><%= gym.description%></span>
            <span class="card__status"><%= gym.price%></span>
          </div>
        </div>
        <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
      </div>
  </a>
  <% end %>
