
<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>




<div class="index-whole-page">
    <br>
  <h1 class="gym-title">Find Your <span style="color:orange">Gym</span></h1>
    <%# <img src = "https://res.cloudinary.com/hamzakazi/image/upload/v1662475252/Screenshot_2022-09-05_at_14.42.14-removebg-preview_dayrpd.png" class = "logo" alt = "Test Image" /> %>

  <div class="mt-5">
    <div class="find-a-gym">
      <%= form_with url: gyms_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a gym"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <h4 class="sort-index"><strong>Sort</strong></h4>
    <%= form_with url: gyms_path, method: :get, class: "d-flex" do %>
        <%= select_tag :price, options_for_select([ ["High to Low", "H"], ["Low to High", "L"]]) %>
        <% if params[:rating].present? %>
          <%= hidden_field_tag :rating, params[:rating], as: :hidden %>
        <% end %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <%= form_with url: gyms_path, method: :get, class: "d-flex" do |f| %>
        <%= f.select :rating, [[ 1.0, "1"], [ 2.0, "2"], [ 3.0, "3"], [ 4.0, "4"], [5.0, "5"]] %>
        <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

    <div class="cards-all">


        <% @gyms.each do |gym| %>
          <div class="card-gym">
            <%=link_to  gym_path(gym) do cl_image_tag gym.images.first.key, class: "card__image" end%>
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                  <div class="card__header-text">
                    <h3 class="card__title"><strong><%= gym.name %></strong></h3>
                    <span class="card__status">Rating:<%= gym.rating%></span>
                    <span class="card__status"><%= gym.price%>/monthly</span>
                  </div>
                  <%# <p class="card__description">Lorem ipsum dolor sit amet consectetur</p> %>
                </div>
                    <p class="card__description">Read more</p>
              </div>
          </div>
          <% end %>
    </div>

    <div class= "map">
        <div style="width: 100%; height: 1750px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
</div>
