<!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<div class="container-show">

      <!-- Left Column / Gym Image -->
  <div class="left-column">
    <section>
        <div class="container-2">
            <div class="carousel-2">
                <input type="radio" name="slides" checked="checked" id="slide-1">
                <input type="radio" name="slides" id="slide-2">
                <input type="radio" name="slides" id="slide-3">
                <input type="radio" name="slides" id="slide-4">
                <input type="radio" name="slides" id="slide-5">
                <input type="radio" name="slides" id="slide-6">
                <ul class="carousel__slides">
                            <% @gym.images.each do |image| %>
                    <li class="carousel__slide">
                        <figure>
                            <div>
                            <%= cl_image_tag image.key%>
                            </div>
                        </figure>
                    </li>
                            <% end %>
                </ul>
                <ul class="carousel__thumbnails">
                      <% @gym.images.each_with_index do |image , index| %>
                    <li>
                        <label for="slide-<%= index + 1 %>"><%= cl_image_tag image.key%></label>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </section>
  </div>

      <!-- Right Column -->
  <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <h1><%= @gym.name %></h1>
          <br>
          <p><%= @gym.description %></p>
        </div>
        <div class="ratings">
          <!-- Product Color -->
          <div class="product-color">
            <span><p>Rating: <%= @gym.rating%></p></span>

            <%  @gym.rating.to_i.times do  %>
           <span>⭐️</span>
            <% end %>
            </div>
          </div>

          <!-- Cable Configuration -->
          <div class="gym-address">
            <span><p>Address: <%= @gym.address %></p></span>
          </div>

        <!-- Product Pricing -->
        <div class="membership-fee">

          <span> <p>Membership Fee: £<%= @gym.price%>/per month</p></span>
          <a href="#" class="cart-btn">Take me there</a>

        </div>
        <br>
     <div class="review-box">
            <%= simple_form_for [@gym, @review] do |f| %>
                <%= f.input :content, placeholder: "Add your review here..." %>
                <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "star-rating" } } %>
                <%= f.submit "Add Review", class:"btn btn-flat" %>
              <% end %>
              <% if @gym.reviews.empty? %>
              <small><em class="text-muted">Be the first one to review this gym</em></small>
              <% end %>
              <% @gym.reviews.each do |review| %>
              <div>
                <% review.rating.times do %>
                  <i class="fas fa-star star-yellow"></i>
                <% end %>
                <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
                <p class="mb-0"><%= review.content %></p>
              </div>
              <hr>
            <% end %>
      </div>
  </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
