<!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<div class="container-show">

      <!-- Left Column / Gym Image -->
<div class="left-column">
  <section>
      <div class="container-2">
          <div class="carousel-2">
              <input type="radio" name="slides" checked="checked" id="slide-1">
              <input type="radio" name="slides" id="slide-2">
              <input type="radio" name="slides" id="slide-3">
              <input type="radio" name="slides" id="slide-4">
              <input type="radio" name="slides" id="slide-5">
              <input type="radio" name="slides" id="slide-6">
              <ul class="carousel__slides">
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="https://images.unsplash.com/photo-1594737625785-a6cbdabd333c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MXx8Z3ltfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt="">
                          </div>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3ltfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt="">
                          </div>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Z3ltfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt="">
                          </div>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="https://images.unsplash.com/photo-1540497077202-7c8a3999166f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60" alt="">
                          </div>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60" alt="">
                          </div>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="https://images.unsplash.com/photo-1594381898411-846e7d193883?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60" alt="">
                          </div>
                      </figure>
                  </li>
              </ul>
              <ul class="carousel__thumbnails">
                  <li>
                      <label for="slide-1"><img src="https://images.unsplash.com/photo-1594737625785-a6cbdabd333c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MXx8Z3ltfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt=""></label>
                  </li>
                  <li>
                      <label for="slide-2"><img src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Z3ltfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt=""></label>
                  </li>
                  <li>
                      <label for="slide-3"><img src="https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Z3ltfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60" alt=""></label>
                  </li>
                  <li>
                      <label for="slide-4"><img src="https://images.unsplash.com/photo-1540497077202-7c8a3999166f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60" alt=""></label>
                  </li>
                  <li>
                      <label for="slide-5"><img src="https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60" alt=""></label>
                  </li>
                  <li>
                      <label for="slide-6"><img src="https://images.unsplash.com/photo-1594381898411-846e7d193883?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60" alt=""></label>
                  </li>
              </ul>
          </div>
      </div>
  </section>
</div>
    <%# <div class="container-new">
      <div class="carousel-new">
        <div class="carousel__face"><span>This is something</span></div>
        <div class="carousel__face"><span>Very special</span></div>
        <div class="carousel__face"><span>Special is the key</span></div>
        <div class="carousel__face"><span>For you</span></div>
        <div class="carousel__face"><span>Just give it</span></div>
        <div class="carousel__face"><span>A try</span></div>
        <div class="carousel__face"><span>And see</span></div>
        <div class="carousel__face"><span>How IT Works</span></div>
        <div class="carousel__face"><span>Woow</span></div>
      </div>
    </div> %>

        <%# <div class="carousel-wrapper">
          <div class="carousel-container">
            <div class="carousel">
              <div> <img src="https://images.unsplash.com/photo-1540496905036-5937c10647cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="image-one" alt="" /></div>
              <div> <img src="https://images.unsplash.com/photo-1546817372-628669db4655?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" class="image-two" alt="" /></div>
              <div> <img src="https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="image-three" alt="" /></div>
            </div>
          </div>
        </div> %>
      <%# <div>
      <img src="https://images.unsplash.com/photo-1623874106686-5be2b325c8f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" class="big-gym-image" alt="" />
      </div> %>



      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <h1><%= @gym.name %></h1>
          <br>
          <p><%= @gym.description %></p>
        </div>

          <!-- Product Color -->
          <div class="product-color">
            <span><p>Rating: <%= @gym.rating %></p></span>

            <div class="ratings">

            </div>

          </div>

          <!-- Cable Configuration -->
          <div class="reviews">
            <span><p>Address: <%= @gym.address %></p></span>
              <br>
              <br>
              <br>

          </div>

        <!-- Product Pricing -->
        <div class="membership-fee">

          <span> <p>Membership Fee: £<%= @gym.price%>/per month</p></span>
          <a href="#" class="cart-btn">Take me there</a>

        </div>
      </div>
</div>


    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
