    <div class="modal-body2">

  <%= simple_form_for [post, @comment], data: { disable_with: false} do |form| %>
  <%= form.hidden_field :post_id %>
  <%= form.label :content, "Text:" %>
  <%= form.text_area :content %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
