

<%= simple_form_for @post do |f| %>
  <div class="form-inputs">
    <%= f.input :caption,
                placeholder: "Look at these carbs!!" %>
    <%= f.input :likes %>
  </div>

  <div class="image">
      <%= f.input :image, as: :file %>
  </div>
  <div class="form-actions">

    <%= f.button :submit, "Post" %>
  </div>
<% end %>


<%# <%= render 'form', post: @post %> %>

<%= link_to 'Back', posts_path %>
