 <div class="modal-body">
          <%= simple_form_for @exercise do |exercise| %>
            <%= exercise.error_notification %>
            <%= exercise.input :set, label: "Name of exercise", placeholder: "Bench press, Tricep pushdown etc ...."%>
            <%= exercise.input :rep,  label: "Number of sets", placeholder: ""  %>
            <%= exercise.input :weight, label: "55, 60", placeholder: ""  %>
            <%= exercise.button :submit, "Submit", class: "btn btn btn-lg "%>
        <% end %>
  </div>
